<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>React Isomorphic</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="http://cdn.52shangou.com/f2e/bootstrap/3.3.7/build/css/bootstrap.min.css" rel="stylesheet">
        <link href="http://cdn.52shangou.com/f2e/font-awesome/4.6.3/build/css/font-awesome.min.css" rel="stylesheet">
        <link href="http://cdn.52shangou.com/f2e/react-bootstrap-datetimepicker/0.0.22/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
        <link href="./index.css" rel="stylesheet">
    </head>
    <body>
        <div id="root"><%- root %></div>
        <script src="http://cdn.52shangou.com/f2e/react/15.3.0/build/react.min.js"></script>
        <script src="http://cdn.52shangou.com/f2e/react/15.3.0/build/react-dom.min.js"></script>
        <script src="http://cdn.52shangou.com/f2e/redux/3.5.2/build/redux.min.js"></script>
        <script src="http://cdn.52shangou.com/f2e/react-redux/4.4.5/build/react-redux.min.js"></script>
        <script src="http://cdn.52shangou.com/f2e/react-bootstrap/0.30.2/build/react-bootstrap.min.js"></script>
        <script src="http://cdn.52shangou.com/f2e/react-bootstrap-datetimepicker/0.0.22/build/js/react-bootstrap-datetimepicker.min.js"></script>
        <script src="http://cdn.52shangou.com/f2e/superagent/2.1.0/build/superagent.min.js"></script>
        <script src="./common.js"></script>
        <script src="./index.js"></script>
        <script>
            window.REDUX_STATE = <%- JSON.stringify(state) %>
        </script>
    </body>
</html>
