:global {
    html {
        height: 100%;
        body {
            height: 100%;
            font-family: PingFangSC-Light, 'helvetica neue', 'hiragino sans gb', arial, 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
            font-size: 12px;
            #root {
                height: 100%;
                :local {
                    .root {
                        height: 100%;
                        padding-top: 50px;
                    }
                }
            }
        }
    }
}
