.side-bar {
    padding-top:10px;
    font-size: 14px;
    .link {
        display: block;
        position: relative;
        padding: 10px 30px;
        text-decoration: none;
        color: #aaa;
        &.active {
            color:#fff;
            &:after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 2px;
                background: #327eab;
            }
        }
    }
}
