@at-root .confirm-modal{
	width:320px;
	margin: 294px auto;
	.modal-content {
		position:relative;
		background:#f9f9f9;
		box-shadow:0px 3px 10px 0px rgba(0,0,0,0.30);
		border-radius:5px;
		border: none;
		a {
			position: absolute;
			top:12px;
			right:15px;
			width: 10px;
			text-align: center;
			color: #ccc;
			font-size: 20px;
			line-height: 10px;
			text-decoration: none;
		}
		p {
			height: 132px;
			margin-bottom: 0;
			padding-top: 57px;
			padding-bottom: 51px;
			text-align: center;
			color:#000000;
			letter-spacing:0.75px;
			line-height: 24px;
		}
		button {
			width:320px;
			height:48px;
			background:#f1f1f1;
			border-radius:0px 0px 5px 5px;
			border: none;
			border-top: 1px solid #e4e4e4;
			color:#000;
			font-size:12px;
			outline: none;
			&:active {
				box-shadow:none;
				outline: none;
			}
			&:hover {
				background: #eaeaea;
				border-color: #e4e4e4;
			}
		}
	}
}
