@at-root .popup-modal{
	width: auto;
	max-width: 710px;
	margin: 36px auto;
	.modal-content {
		box-shadow:0px 3px 10px 0px rgba(0,0,0,0.30);
		border-radius:5px;
		border: none;
		overflow: hidden;
		.header {
			padding: 0 20px;
			background:#f7f9fb;
			border-bottom:1px solid #e8ecf0;
			min-height:43px;
			line-height: 42px;
			overflow: hidden;
			.text {
				color:#fa4100;
			}
			.tag {
				float: right;
			}
			.serial {
				float: right;
				margin-right: 10px;
				font-size:16px;
			}
		}
		.progress-section {
			padding: 10px 21px;
			height: 75px;
			.part {
				position: relative;
				float: left;
				width: 25%;
				max-width: 242px;
				min-width: 100px;
				padding: 10px 4px 29px 4px;
				text-align: center;
				&::before {
					content: '';
					position: absolute;
					bottom: 15px;
					display: block;
					width: calc(100% - 8px);
					height: 4px;
					background:#52a0da;
				}
				&::after {
					content: '';
					position: absolute;
					left: calc(50% - 7px);
					bottom: 10px;
					display: block;
					width: 14px;
					height: 14px;
					margin: 0 auto; 
					border-radius: 50%;
					background:#52a0da;
				}
				p{
					margin-bottom: 0;
					color:#288de1;
					line-height: 15px;
				}
			}
		}
		.main {
			clear: both;
			margin: 0 15px;
			padding: 20px 5px 0 5px;
			border-top: 1px dashed #ccc;
			border-bottom: 1px dashed #ccc;
			.board {
				padding: 20px 10px;
				overflow: hidden;
				.left {
					float: left;
					width: 54.5%;
					p {
						float: left;
						font-size:12px;
						line-height:15px;
						margin: 0;
		         		word-wrap:break-word;
		         		&.title {
							clear: both;
							width: 75px;
		         		}
		         		&.content {
							width: calc(100% - 75px);
		         		}
						&:nth-of-type(n+3) {
							margin-top: 10px;
						}
						&.strong {
							font-size:14px;
							line-height:14px;
							font-weight: bold;
							color: #000;
						}
						&.number {
							color:#288de1;
							text-decoration:underline;
						}
					}
				}
				.right {
					float: left;
					width: 45.5%;
					p {
						float: left;
						font-size:12px;
						line-height:15px;
						margin: 0;
		         		word-wrap:break-word;
		         		&.title {
							clear: both;
							width: 75px;
		         		}
		         		&.content {
							width: calc(100% - 75px);
		         		}
						&:nth-of-type(n+3) {
							margin-top: 10px;
						}
						&.strong {
							font-weight: bold;
							color: #000;
						}
					}
				}
				&.has-bg {
					background:rgba(247,186,0,0.08);
					border:1px solid #f7ba00;
					border-radius:3px;
					p:nth-of-type(n+3) {
						margin-top: 20px;
					}
				}
			}
				
		}			
		.record {
			padding: 20px 30px;
			.left {
				float: left;
				width: 80px;
				margin-top: 7px;
				line-height: 12px;
			}
			.right {
				margin-left: 80px;
				padding: 11px 11px 11px 28px;
				background:#f7f9fb;
				border-radius:2px;
				.part {
					position: relative;
					&:nth-last-of-type(n+2)::after {
						content: '';
						position: absolute;
						top: 11px;
						left: -14px;
						display: block;
						width:2px;
						height:calc(100% + 18px);
						background:rgba(247,186,0,0.40);
						z-index: 1;
					}
					&:first-child::before {
						content: '';
						position: absolute;
						left: -19px;
						display: block;
						width:12px;
						height:12px;
						background: #f7ba00;
						border-radius:50%;
						z-index: 2;

					}
					&+.part {
						margin-top: 18px;
						&::before {
							content: '';
							position: absolute;
							top: 1px;
							left: -18px;
							display: block;
							width:10px;
							height:10px;
							background:#f7df96;
							border-radius:50%;
							z-index: 2;
						}
					}
					.operator {
						margin-bottom: 0;
						font-size:11px;
						line-height: 13px;
						color:#000;
						span {
							color:#666;
						} 
					}
					.status {
						margin-bottom: 0;
						margin-top: 6px;
						line-height: 12px;
						color:#000;
					}
					.remark {
						margin-bottom: 0;
						margin-top: 5px;
						font-size:11px;
						line-height: 11px;
						color:#666;
					}
				}
			}
		}
		.form {
			padding: 0 30px 20px 30px;
			.form-horizontal {
				.form-group {
					margin: 0;
					&+.form-group {
						margin-top: 10px;
					}
					label {
						float: left;
						width: 80px;
						font-weight: normal;
						strong {
							color:#fa4100;
						}
					}
					.form-control {
						width: calc(100% - 80px);
						margin-left: 80px;
						border:1px solid #e6e6e6;
						border-radius:2px;
						height:28px;
						font-size: 12px;
						color:#000000;
						letter-spacing:0.75px;
						box-shadow: none;
					}
					textarea {
						min-height: 58px;
						resize: none;
					}
					button {
						width:80px;
						height:30px;
						margin: 10px 0 0 80px;
						background:#288de1;
						border-radius:3px;
						border: none;
						font-size: 12px;
						color:#fff;
						letter-spacing:0.75px;
						outline:none;
						&:hover {
							background:#2991e6;
						}
						&:active {
							background:#2581cc;
							box-shadow: none;
						}
						&:disabled {
							color:rgba(255,255,255,0.35);
						}
					}
				}
			}
		}
	}
}
