.sub-nav {
	padding-top:28px;
	>.nav {
		display: table;
		margin: 0 auto;
		li {
			margin-left: 0;
			&.active {
				a {
					background:#dfefff;
					color:#288de1;
					border:1px solid #92c1e9;
					z-index: 1;
					&:hover {
						background: #dfefff;
					}
				}
			}
			&+li {
				margin-left: -1px;
			}
			&:first-child {
				a {
					border-radius: 3px 0 0 3px ;
				}
			}
			&:last-child {
				a {
					border-radius: 0 3px 3px 0;
				}
			}
			a {
				width: 170px;
				height: 34px;
				padding: 0;
				border:1px solid #e6e6e6;
				border-radius: 0;
				font-size:14px;
				color:#666;
				line-height: 32px;
				text-align: center;
				&:hover {
					background: #fafafa;
				}
			}
		}
	}
}