<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>React Isomorphic Boilerplate</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" rel="stylesheet">
    </head>
    <body>
        <div id="root"><%- root %></div>

        <script>
            window.REDUX_STATE = <%- JSON.stringify(state) %>
        </script>
    <script type="text/javascript" src="/manifest.js"></script><script type="text/javascript" src="/vendor.js"></script><script type="text/javascript" src="/bundle.js"></script></body>
</html>
