.section-main {
    font-size: 40px;

    .btn {
        display: inline-block;
        margin-left: 20px;
        padding: 2px 6px;
        border: 1px solid #222d32;
        text-decoration: none;
        font-size: 14px;
        color: #222d32;
    }
    .info {
        font-size: 20px;
    }
}
